:root {
  --body-bg-color-light-mode: rgb(255, 255, 255);
  --body-bg-color-dark-mode: #292a2b;
  --body-bg-color-contrast-mode: rgb(0, 0, 0);
  --body-color-light-mode: black;
  --body-color-dark-mode: #e6e6e6;
  --body-color-contrast-mode: rgb(255, 255, 255);
  --toc-bg-light-mode: rgba(241, 241, 241, 0.15);
  --toc-bg-dark-mode: #1f2020;
  --toc-box-shadow-light-mode: -2px 2px 8px 1px rgba(214, 214, 214, 0.6);
  --toc-box-shadow-dark-mode: -2px 2px 8px 1px #18171782;
  --table-head-color-light-mode: rgb(246, 246, 246);
  --table-head-color-dark-mode: #383a3b;
  --table-divider-color-light-mode: rgb(201, 198, 198);
  --table-divider-color-dark-mode: #a0a7aa;
  --table-highlight-color-light-mode: #f0f71d2f;
  --table-highlight-color-dark-mode: #ffffff05;
  --code-color-light-mode: #7a5600;
  --code-color-dark-mode: #d7ba7d;
  --table-action-column-width: 50px;
}

body,
body.vscode-dark,
body.vscode-light,
body.vscode-high-contrast {
  box-sizing: border-box;
  font-family: Roboto, "Open Sans", san-serif;
  font-size: calc(16px + 0.05vw);
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  max-width: 1600px;
  overflow-x: auto;
}

body.vscode-light {
  background-color: var(--body-bg-color-light-mode);
  color: var(--body-color-light-mode);
}

body.vscode-light section#user h2,
body.vscode-light section#extension h2,
body.vscode-light section#app h2,
body.vscode-light h3,
body.vscode-light h4 {
  background-color: var(--body-bg-color-light-mode);
  color: var(--body-color-light-mode);
}

body.vscode-light #toc {
  background-color: var(--toc-bg-light-mode);
  box-shadow: var(--toc-box-shadow-light-mode);
}

body.vscode-light th {
  background-color: var(--table-head-color-light-mode);
  border-bottom: 1px solid var(--table-divider-color-light-mode);
}

body.vscode-light tr:hover {
  background-color: var(--table-highlight-color-light-mode);
}

body.vscode-light td:nth-child(1) {
  color: var(--code-color-light-mode);
}

body.vscode-light td {
  border-bottom: 1px solid var(--table-divider-color-light-mode);
}

body.vscode-light code {
  color: var(--code-color-light-mode);
}

body.vscode-light .upIcon {
  color: var(--body-color-light-mode);
  opacity: 1;
}

body.vscode-dark {
  background-color: var(--body-bg-color-dark-mode);
  color: var(--body-color-dark-mode);
}

body.vscode-dark section#user h2,
body.vscode-dark section#extension h2,
body.vscode-dark section#app h2,
body.vscode-dark h3,
body.vscode-dark h4 {
  background-color: var(--body-bg-color-dark-mode);
  color: var(--body-color-dark-mode);
}

body.vscode-dark #toc,
body.vscode-high-contrast #toc {
  background-color: var(--toc-bg-dark-mode);
  box-shadow: var(--toc-box-shadow-dark-mode);
  border: 1px #323333 solid;
}

body.vscode-dark th,
body.vscode-high-contrast th {
  background-color: var(--table-head-color-dark-mode);
  border-bottom: 1px solid var(--table-divider-color-dark-mode);
}

body.vscode-dark td,
body.vscode-high-contrast td {
  border-bottom: 1px solid var(--table-divider-color-dark-mode);
}

body.vscode-dark tr:hover,
body.vscode-high-contrast tr:hover {
  background-color: var(--table-highlight-color-dark-mode);
}

body.vscode-dark td:nth-child(1),
body.vscode-high-contrast td:nth-child(1) {
  color: var(--code-color-dark-mode);
}

body.vscode-dark code,
body.vscode-high-contrast code {
  color: var(--code-color-dark-mode);
}

body.vscode-dark .upIcon,
body.vscode-high-contrast .upIcon {
  fill: var(--body-color-contrast-mode);
}

body.vscode-high-contrast {
  background-color: var(--body-bg-color-contrast-mode);
  color: var(--body-color-contrast-mode);
}

body.vscode-high-contrast section#user h2,
body.vscode-high-contrast section#extension h2,
body.vscode-high-contrast section#app h2,
body.vscode-high-contrast h3,
body.vscode-high-contrast h4 {
  background-color: var(--body-bg-color-contrast-mode);
  color: var(--body-color-contrast-mode);
}

body.vscode-high-contrast #toc {
  background-color: var(--body-bg-color-light-mode);
}

body.vscode-high-contrast #toc h2 {
  color: var(--body-color-light-mode);
}

section#extension div p {
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
}

.upIcon {
  position: fixed;
  opacity: 0.75;
  bottom: 5%;
  right: 5%;
  z-index: 9999;
  width: 2.5rem;
}

@media (min-width: 800px) {
  body,
  body.vscode-dark,
  body.vscode-light,
  body.vscode-high-contrast {
    width: 90%;
  }
}

h1 {
  text-align: center;
}

.wrapper {
  overflow-x: scroll;
}

#toc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
}

@media (min-width: 600px) {
  #toc {
    width: 580px;
  }
}

code {
  font-family: var(--vscode-editor-font-family);
  font-size: calc(14px + 0.05vw);
}

section#user h2,
section#extension h2,
section#app h2 {
  top: 0;
  z-index: 1000;
  text-align: center;
}

h3 {
  top: 1.5rem;
  z-index: 500;
  line-height: 150%;
  font-size: 1.2rem;
  font-style: italic;
}

h4 {
  top: 3rem;
  z-index: 500;
  line-height: 200%;
  font-size: 1.1rem;
  padding: 0.5em 0;
  z-index: 400;
}

section#extension th {
  top: 6rem;
}

th {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  line-height: 150%;
  top: 3rem;
}

section#user h2,
section#extension h2,
section#app h2,
h3,
h4 {
  font-family: var(--vscode-font-family);
  margin: 0;
  margin-block-end: 0;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  min-width: 450px;
}

table {
  table-layout: fixed;
  width: 100%;
  min-width: 450px;
  border-collapse: collapse;
  word-break: break-word;
  margin: 1em 0;
  overflow-x: auto;
}

td:nth-child(1) {
  font-family: var(--vscode-editor-font-family);
}

th:nth-child(1),
td:nth-child(1) {
  width: 15%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 30%;
}

th:nth-child(4),
td:nth-child(4) {
  width: calc(35% - var(--table-action-column-width));
}

th:nth-child(5),
td:nth-child(5) {
  width: var(--table-action-column-width);
}

th {
  font-weight: 500;
}

th,
td {
  margin: 0;
  padding: 10px 0;
  text-align: left;
}

td {
  padding-right: 5px;
  vertical-align: top;
}

.empty {
  text-align: center;
}

button {
  display: block;
  font-family: inherit;
  border-radius: 5px;
  border: none;
}

.sourceBtn {
  margin: 0 0.25em;
  margin-top: 2.25em;
  padding: 0.75em;
}

.editBtn {
  padding: 0.5em;
  margin: 0 0.5em;
  margin-top: 0;
}

button.editBtn svg {
  width: 100%;
}

body.vscode-light button {
  color: black;
  background-color: rgb(218, 218, 218);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 35%);
}

body.vscode-dark button,
body.vscode-high-contrast button {
  color: black;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

body.vscode-high-contrast button {
  font-weight: bold;
}

button:focus {
  outline: 3px solid orange;
}

.gif {
  display: block;
  margin: 0 auto;
}
