:root {
  --bg-dark-mode: #080515;
  --bg-light-mode: #f2f2f2;
}

body,
body.vscode-dark,
body.vscode-light,
body.vscode-high-contrast {
  box-sizing: border-box;
  font-family: Roboto, "Open Sans", san-serif;
  font-size: calc(16px + 0.05vw);
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  max-width: 1600px;
  overflow-x: auto;
}

@media (min-width: 800px) {
  body,
  body.vscode-dark,
  body.vscode-light,
  body.vscode-high-contrast {
    width: 90%;
  }
}

h1 {
  text-align: center;
}

#toc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  #toc {
    width: 600px;
  }
}

code {
  font-family: var(--vscode-editor-font-family);
  font-size: calc(14px + 0.05vw);
}

section#user h2,
section#extension h2,
section#app h2 {
  top: 0;
  z-index: 1000;
  text-align: center;
}

h3 {
  top: 2.5rem;
  z-index: 500;
  line-height: 150%;
  font-style: italic;
}

section#extension th {
  top: 7.5rem;
}

th {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  background: var(--vscode-editor-background);
  line-height: 150%;
  top: 4.5rem;
}

h4 {
  top: 4.5rem;
  z-index: 500;
  padding: 0.25em 0;
  line-height: 200%;
  font-style: italic;
}

section#user h2,
section#extension h2,
section#app h2,
h3,
h4 {
  font-family: var(--vscode-font-family);
  margin: 0;
  margin-block-end: 0;
  padding: 0.5rem 0;
  background: var(--vscode-editor-background);
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

table {
  table-layout: fixed;
  width: 100%;
  min-width: 450px;
  border-collapse: collapse;
  word-break: break-word;
  margin: 1em 0;
}

th:nth-child(1),
td:nth-child(1) {
  width: 15%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 30%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 35%;
}

th,
td {
  margin: 0;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding-right: 5px;
}

body.vscode-dark tr:hover,
body.vscode-high-contrast tr:hover {
  background-color: #545624;
}

body.vscode-light th,
body.vscode-light #toc {
  background-color: var(--bg-light-mode);
}

body.vscode-dark th,
body.vscode-dark #toc,
body.vscode-high-contrast th,
body.vscode-high-contrast #toc {
  background-color: var(--bg-dark-mode);
}

.empty {
  text-align: center;
}
